version: 2
jobs:
	build:
		docker:
			- image: circleci/python:3.9
		steps:
			- checkout
			- run:
				command: pip install -r requirements/dev.txt


workflows:
	version: 2
	build-test:
		jobs:
			-build
